USE [master]
GO
/****** Object:  Database [JobsDW]    Script Date: 29/04/2026 16:08:39 ******/
CREATE DATABASE [JobsDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobsDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\JobsDW.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobsDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\JobsDW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobsDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobsDW]
GO
/****** Object:  Schema [dw]    Script Date: 29/04/2026 16:08:39 ******/
CREATE SCHEMA [dw]
GO
/****** Object:  Table [dbo].[stg_jobmatch_raw]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_jobmatch_raw](
	[posting_id] [int] IDENTITY(1,1) NOT NULL,
	[job_title_short] [nvarchar](1000) NULL,
	[job_title] [nvarchar](1000) NULL,
	[job_location] [nvarchar](2000) NULL,
	[job_via] [nvarchar](1000) NULL,
	[job_schedule_type] [nvarchar](1000) NULL,
	[job_work_from_home] [nvarchar](100) NULL,
	[search_location] [nvarchar](1000) NULL,
	[job_posted_date] [nvarchar](100) NULL,
	[job_no_degree_mention] [nvarchar](100) NULL,
	[job_health_insurance] [nvarchar](100) NULL,
	[job_country] [nvarchar](1000) NULL,
	[salary_rate] [nvarchar](100) NULL,
	[salary_year_avg] [nvarchar](100) NULL,
	[salary_hour_avg] [nvarchar](100) NULL,
	[company_name] [nvarchar](1000) NULL,
	[job_skills] [nvarchar](4000) NULL,
	[job_type_skills] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_CATEGORIE]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_CATEGORIE](
	[categorie_id] [int] IDENTITY(1,1) NOT NULL,
	[nom_categorie] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DIM_CATEGORIE] PRIMARY KEY CLUSTERED 
(
	[categorie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_CATEGORIE_nom] UNIQUE NONCLUSTERED 
(
	[nom_categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_COMPANY]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_COMPANY](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DIM_COMPANY] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_DATE]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_DATE](
	[date_id] [int] NOT NULL,
	[full_date] [date] NOT NULL,
	[year] [int] NOT NULL,
	[month] [tinyint] NOT NULL,
	[month_name] [nvarchar](20) NOT NULL,
	[quarter] [tinyint] NOT NULL,
	[day_of_week] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_DIM_DATE] PRIMARY KEY CLUSTERED 
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_DATE_full_date] UNIQUE NONCLUSTERED 
(
	[full_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_JOB]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_JOB](
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[job_title_short] [nvarchar](1000) NOT NULL,
	[job_title] [nvarchar](1000) NOT NULL,
	[job_schedule_type] [nvarchar](1000) NULL,
 CONSTRAINT [PK_DIM_JOB] PRIMARY KEY CLUSTERED 
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_LOCATION]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_LOCATION](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[job_country] [nvarchar](150) NULL,
	[job_location] [nvarchar](255) NULL,
	[search_location] [nvarchar](255) NULL,
 CONSTRAINT [PK_DIM_LOCATION] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_SKILL]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_SKILL](
	[skill_id] [int] IDENTITY(1,1) NOT NULL,
	[skill_name] [nvarchar](150) NOT NULL,
	[categorie_id] [int] NULL,
 CONSTRAINT [PK_DIM_SKILL] PRIMARY KEY CLUSTERED 
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_SKILL_name] UNIQUE NONCLUSTERED 
(
	[skill_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[DIM_VIA]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[DIM_VIA](
	[via_id] [int] IDENTITY(1,1) NOT NULL,
	[job_via] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DIM_VIA] PRIMARY KEY CLUSTERED 
(
	[via_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[FACT_JOB_POSTING]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[FACT_JOB_POSTING](
	[posting_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[location_id] [int] NOT NULL,
	[date_id] [int] NOT NULL,
	[via_id] [int] NULL,
	[salary_rate] [nvarchar](50) NULL,
	[work_from_home_flag] [int] NOT NULL,
	[no_degree_mention_flag] [int] NOT NULL,
	[health_insurance_flag] [int] NOT NULL,
	[posting_count] [int] NOT NULL,
	[salary_year_avg] [decimal](18, 2) NULL,
	[salary_hour_avg] [decimal](18, 2) NULL,
 CONSTRAINT [PK_FACT_JOB_POSTING] PRIMARY KEY CLUSTERED 
(
	[posting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dw].[FACT_JOB_SKILL]    Script Date: 29/04/2026 16:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dw].[FACT_JOB_SKILL](
	[job_skill_id] [int] IDENTITY(1,1) NOT NULL,
	[job_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL,
	[skill_count] [int] NOT NULL,
 CONSTRAINT [PK_FACT_JOB_SKILL] PRIMARY KEY CLUSTERED 
(
	[job_skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FACT_JOB_SKILL] UNIQUE NONCLUSTERED 
(
	[job_id] ASC,
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JP_company_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JP_company_id] ON [dw].[FACT_JOB_POSTING]
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JP_date_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JP_date_id] ON [dw].[FACT_JOB_POSTING]
(
	[date_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JP_job_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JP_job_id] ON [dw].[FACT_JOB_POSTING]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JP_location_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JP_location_id] ON [dw].[FACT_JOB_POSTING]
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JP_via_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JP_via_id] ON [dw].[FACT_JOB_POSTING]
(
	[via_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JS_job_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JS_job_id] ON [dw].[FACT_JOB_SKILL]
(
	[job_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FACT_JS_skill_id]    Script Date: 29/04/2026 16:08:39 ******/
CREATE NONCLUSTERED INDEX [IX_FACT_JS_skill_id] ON [dw].[FACT_JOB_SKILL]
(
	[skill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] ADD  CONSTRAINT [DF_FACT_wfh]  DEFAULT ((0)) FOR [work_from_home_flag]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] ADD  CONSTRAINT [DF_FACT_no_degree]  DEFAULT ((0)) FOR [no_degree_mention_flag]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] ADD  CONSTRAINT [DF_FACT_health]  DEFAULT ((0)) FOR [health_insurance_flag]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] ADD  CONSTRAINT [DF_FACT_posting_count]  DEFAULT ((1)) FOR [posting_count]
GO
ALTER TABLE [dw].[FACT_JOB_SKILL] ADD  CONSTRAINT [DF_FACT_JS_count]  DEFAULT ((1)) FOR [skill_count]
GO
ALTER TABLE [dw].[DIM_SKILL]  WITH CHECK ADD  CONSTRAINT [FK_DIM_SKILL_DIM_CATEGORIE] FOREIGN KEY([categorie_id])
REFERENCES [dw].[DIM_CATEGORIE] ([categorie_id])
GO
ALTER TABLE [dw].[DIM_SKILL] CHECK CONSTRAINT [FK_DIM_SKILL_DIM_CATEGORIE]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_COMPANY] FOREIGN KEY([company_id])
REFERENCES [dw].[DIM_COMPANY] ([company_id])
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [FK_FACT_DIM_COMPANY]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_DATE] FOREIGN KEY([date_id])
REFERENCES [dw].[DIM_DATE] ([date_id])
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [FK_FACT_DIM_DATE]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_JOB] FOREIGN KEY([job_id])
REFERENCES [dw].[DIM_JOB] ([job_id])
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [FK_FACT_DIM_JOB]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_LOCATION] FOREIGN KEY([location_id])
REFERENCES [dw].[DIM_LOCATION] ([location_id])
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [FK_FACT_DIM_LOCATION]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_VIA] FOREIGN KEY([via_id])
REFERENCES [dw].[DIM_VIA] ([via_id])
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [FK_FACT_DIM_VIA]
GO
ALTER TABLE [dw].[FACT_JOB_SKILL]  WITH CHECK ADD  CONSTRAINT [FK_FACT_JS_DIM_JOB] FOREIGN KEY([job_id])
REFERENCES [dw].[DIM_JOB] ([job_id])
GO
ALTER TABLE [dw].[FACT_JOB_SKILL] CHECK CONSTRAINT [FK_FACT_JS_DIM_JOB]
GO
ALTER TABLE [dw].[FACT_JOB_SKILL]  WITH CHECK ADD  CONSTRAINT [FK_FACT_JS_DIM_SKILL] FOREIGN KEY([skill_id])
REFERENCES [dw].[DIM_SKILL] ([skill_id])
GO
ALTER TABLE [dw].[FACT_JOB_SKILL] CHECK CONSTRAINT [FK_FACT_JS_DIM_SKILL]
GO
ALTER TABLE [dw].[DIM_DATE]  WITH CHECK ADD  CONSTRAINT [CK_DIM_DATE_month] CHECK  (([month]>=(1) AND [month]<=(12)))
GO
ALTER TABLE [dw].[DIM_DATE] CHECK CONSTRAINT [CK_DIM_DATE_month]
GO
ALTER TABLE [dw].[DIM_DATE]  WITH CHECK ADD  CONSTRAINT [CK_DIM_DATE_quarter] CHECK  (([quarter]>=(1) AND [quarter]<=(4)))
GO
ALTER TABLE [dw].[DIM_DATE] CHECK CONSTRAINT [CK_DIM_DATE_quarter]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [CK_FACT_posting_count] CHECK  (([posting_count]>=(0)))
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [CK_FACT_posting_count]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [CK_FACT_salary_hour] CHECK  (([salary_hour_avg] IS NULL OR [salary_hour_avg]>=(0)))
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [CK_FACT_salary_hour]
GO
ALTER TABLE [dw].[FACT_JOB_POSTING]  WITH CHECK ADD  CONSTRAINT [CK_FACT_salary_year] CHECK  (([salary_year_avg] IS NULL OR [salary_year_avg]>=(0)))
GO
ALTER TABLE [dw].[FACT_JOB_POSTING] CHECK CONSTRAINT [CK_FACT_salary_year]
GO
ALTER TABLE [dw].[FACT_JOB_SKILL]  WITH CHECK ADD  CONSTRAINT [CK_FACT_JS_count] CHECK  (([skill_count]>=(0)))
GO
ALTER TABLE [dw].[FACT_JOB_SKILL] CHECK CONSTRAINT [CK_FACT_JS_count]
GO
USE [master]
GO
